<!--
Launches the ar_render_node. The node receives the images froma cv_camera
node. The camera is assumed to be static in the world frames origin.
The objects pose is received.
-->
<launch>
  <!--ar_render_node renders the object pose-->
  <node pkg="tf2_ros" type="static_transform_publisher" name="object_tf" args="0 0 0 0 0 0 tracked_object object"/> 
  <!--Position of the light in the world -->
  <node pkg="tf2_ros" type="static_transform_publisher" name="light_tf" args="3 0 3 0 0 0 world light"/>
  <!--Camera should be sending on /camera/color/image_raw-->
  <!--Augmented reality rendering-->
  <node name="ar_render_node" pkg="scigl_render_ros" type="ar_render_node">
    <param name="model_path" value="$(find scigl_render)/model/ilium.3ds"/>
  </node>

  <node name="viewer" pkg="rqt_image_view" type="rqt_image_view"/>
</launch>