<!--
Launches the ar_render_node. The node receives the images froma cv_camera
node. The camera is assumed to be static in the world frames origin.
The objects pose is received.
-->
<launch>
  <!--Position of the camera in the world-->
  <node pkg="tf2_ros" type="static_transform_publisher" name="camera_tf" args="0 0 0 0 0 0 world camera"/>
  <!--Position of the object in the world-->
  <node pkg="tf2_ros" type="static_transform_publisher" name="object_tf" args="0 0 1 0 0 0 world object"/>
  <!--Camera-->
  <node name="cv_camera_node" pkg="cv_camera" type="cv_camera_node">
    <remap from="/cv_camera_node" to="/camera"/>
  </node>
  <!--Augmented reality rendering-->
  <node name="cv_camera_ar" pkg="scigl_render_ros" type="ar_render_node">
    <param name="model_path" value="$(find scigl_render)/model/coordinates.3ds" type="str"/>
  </node>
</launch>