<!--
Launches the depth_render_node and publishes static transformations for the
camera and object pose.
-->
<launch>
  <!--Position of the camera in the world-->
  <node pkg="tf2_ros" type="static_transform_publisher" name="camera_tf" args="0 0 0 0 0 0 world camera"/>
  <!--Position of the object in the world-->
  <node pkg="tf2_ros" type="static_transform_publisher" name="object_tf" args="0 0 0.1 0 0 1.5708 world object"/>
  <!--Depth rendering-->
  <node name="static_depth" pkg="scigl_render_ros" type="depth_render_node">
    <param name="model_path" value="$(find scigl_render)/model/monkey.3ds" type="str"/>
  </node>
  <node name="static_depth_visualization" pkg="rqt_image_view" type="rqt_image_view"/>
</launch>